*.gz
*.obj
*.out
*.egg-info
*__pycache__*
*outputs
*.pyc
*.idea
*data_batch_*
*.meta
*.html
*.whl
*.egg
*.pkl
*test_batch*
*/build/
*/dist
*.pytest_cache/
*.DS_Store
*.lock
*/.ipynb_checkpoints/
docs/source/generated/*
